<div class="container">
  <div class="row">
    <div class="col-md-9">
       <table class="table table-hover">
         <thead>
           <tr>
             <th></th>
             <th>Produto</th>
             <th>Quantidade</th>
             <th>Preço</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let p of produtos">
             <td style="width:10%"><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:70%;height:10%"/></td>
             <td style="width:50%">{{p.descricao}}</td>
             <td style="width:10%">
                <input type="number" class="form-control" value="1" (change)="atualizarPreco(p, $event.target.value)"
                       [(ngModel)]="p.quantidade" placeholder="1" />
             </td>
             <td style="width:20%">R$ {{p.preco | number:'1.0-2'}}</td>
             <td style="width:10%"><button class="btn btn-secondary btn-sm" (click)="remover(p)">Remover</button></td>
           </tr>
         </tbody>
       </table>
    </div>
    <div class="col-md-3">
      <div class="row">        
        <div class="card" style="width:100%">
          <div class="card-header">Resumo</div>
          <div class="card-body">
            <table class="mb-4">
            <tr>
              <td style="width:60%"><strong>Total:</strong></td>
              <td><strong>R$ {{total | number:'1.0-2'}}</strong></td>
            </tr>
            </table>
            <button class="btn btn-danger" style="width:100%" (click)="efetivarCompra()">Efetivar Compra</button>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
