<div class="container">
   <div class="row">
     <div class="col-md-4 mb-4" *ngFor="let p of produtos">
       <div class="card">

         <img class="card-top" src="../../../../../arquivos/{{p.nomeArquivo}}"
              style="width:200px; height:200px;" />         
         <div class="card-body">
           <h5 class="card-title">{{p.nome}}</h5>
           <div class="card-text">{{p.descricao}}</div>
           <h5 class="h5">{{p.preco}}</h5>
         </div>
       </div>
     </div>
   </div>
</div>
